@import url(http://fonts.googleapis.com/css?family=Arvo);

*{
  margin: 0px;
  padding: 0px;
  border: 0px
}

body{
  background: url("bg.jpg") no-repeat fixed top center #70a59f;
  color: white;
  font-family: 'Arvo', serif;
  font-size: 1em;
  line-height: 1.4;
}

#content{
  margin: 0 auto;
  width: 960px;
  margin-top: 20px;
  margin-bottom: 50px
}

#main{
  width: 460px;
  padding: 10px;
  float: left;
  margin-right: 10px
}

#logo{
  margin-top: 10px;
  margin-bottom: 20px
}

#logo:hover{
  opacity:0.6 !important;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter:alpha(opacity=60) !important;
}

.title{
  border-bottom: 1px solid #E3E3E3;
  font-size: 1.3em;
  margin-bottom: 10px;
}

span{font-weight: bold;}

#agenda{
  margin-top: 10px;
}

#agenda p{
  margin-bottom: 10px;
  text-shadow: 0 0 1px #A4D6E3
}

#social{
  margin-top: 10px;
  float: left;
  width: 450px;
  padding: 10px;
  background-color: white;
  border-radius: 5px
}


/* Local - Maps */
#local{
  padding: 10px;
  float: left;
  width: 100%;
  margin-bottom: 20px;

}

#map {
  border: 5px solid #FCFCFC;
  border-radius: 5px;
  margin-top: 10px;
}

/* APOIO */
#apoio{
  margin-bottom: 20px;
  float: left;
  width: 100%;
  padding: 10px;
}

#logos{
  padding: 10px;
  background-image: url("white_bg.png");
  border-radius: 5px;
}

#logos img{
  margin-right: 10px;
  opacity: 0.8;
}

#logos img:hover{
  opacity: 1.0
}

#videos {
  float: left;
  margin-right: 17px;
  margin-top: 10px;
  padding: 10px;
  width: 100%;
}

#fotos{
  padding: 10px;
}

#fotos img{
  width: 300px;
  border: 0px;
}